.spacer {
    flex: 1 1 auto;
  }

  .header-toolbar {
    background-color: rgb(124, 188, 237);
  }

  .header-title {
    font-size: 30px;
    font-weight: 500;
    color: white;
  }

  .item-category {
    font-weight: bold !important;
  }

